pkgbase = dailywire-podcast-proxy-bin
	pkgdesc = Self-hosted proxy that creates private RSS feeds for DailyWire podcast episodes
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/fpnewton/DailyWirePodcastProxy
	install = dailywire-podcast-proxy.install
	arch = x86_64
	license = MIT
	depends = glibc
	depends = zlib
	optdepends = nginx: reverse proxy support
	optdepends = caddy: reverse proxy support
	optdepends = cloudflared: Cloudflare Tunnel support
	provides = dailywire-podcast-proxy
	conflicts = dailywire-podcast-proxy
	options = !strip
	backup = etc/dailywire-podcast-proxy/DailyWirePodcastProxy.ini
	source = dailywire-podcast-proxy-bin-1.3.0.zip::https://github.com/fpnewton/DailyWirePodcastProxy/releases/download/v1.3.0/linux-x64.zip
	source = dailywire-podcast-proxy.service
	source = dailywire-podcast-proxy.sysusers
	source = dailywire-podcast-proxy.tmpfiles
	sha256sums = 6c8defc17c418d9b563e8587f87b89a28d583ed2c4277298f0bfbabb35fbe9d9
	sha256sums = e5651908e75c1173c7de8fb0a728a22dd561b40c360a8909df14139b3fb8f82b
	sha256sums = fda5e077581908317da776fc8e9d8bc7e5fb60e10f2933b6641217f1f60bf9fb
	sha256sums = 26c6094ef72f79051f33c2f511d0ee2ae0ee34905e322bcf7a954a986ead95a2

pkgname = dailywire-podcast-proxy-bin
